name = "robyn"
version = "0.13.0"
description = "A web server that is fast!"
authors = ["Sanskar Jethi <sansyrox@gmail.com>"]

[build-system]
requires = ["maturin>=0.12,<0.13"]
build-backend = "maturin"

[project]
name = "robyn"
dependencies = [
  'watchdog == 2.1.3',
  'multiprocess == 0.70.12.2',
# conditional
  'uvloop == 0.16.0; sys_platform == "darwin"',
  'uvloop == 0.16.0; platform_machine == "x86_64"',
  'uvloop == 0.16.0; platform_machine == "i686"'
]
classifiers = [
  "Development Status :: 3 - Alpha",
  "Environment :: Web Environment",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: BSD License",
  "Operating System :: OS Independent",
  "Topic :: Internet :: WWW/HTTP",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: Implementation :: CPython",
]


[project.urls]
"Source Code" = "https://github.com/sansyrox/robyn"
Issues = "https://github.com/sansyrox/robyn/issues"
Documentation = "https://robyn.sanskar.wtf/"
Changelog = "https://github.com/sansyrox/robyn/blob/main/CHANGELOG.md"
