name: codspeed-benchmarks

on:
  push:
    branches:
      - "main" # or "master"
  pull_request:
  # `workflow_dispatch` allows CodSpeed to trigger backtest
  # performance analysis in order to generate initial data.
  workflow_dispatch:


jobs:
  benchmarks:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.9"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.7.5"

      - name: Install the project + deps.
        run: |
          echo "# Syncing Project + Installing project."
          uv sync --dev --group test --verbose

      - name: Run benchmarks
        uses: CodSpeedHQ/action@v4.5.2
        with:
          token: ${{ secrets.CODSPEED_TOKEN }}
          run: uv run pytest integration_tests --codspeed

