name: Lint PR

on:
  pull_request:
    branches: [main]


jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - uses: actions/setup-python@v6
      with:
        python-version: "3.11"

    - name: Install dependencies with uv
      run: |
        uv sync --locked --only-group dev --no-install-project
    - name: Run linters
      run: |
        uv run --locked ruff check .
        uv run --locked ruff format --check .
